

body {

	background-image:url('yosemite.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin:0;
	padding:0;
	
	}
<style>
p {color: #660066;
	font: 12pt, 'Monotype Corsiva' sans-serif;
	}
h1{text-align: left;
		font: 30pt 'Monotye Corsiva' sans-serif;
		color: #311D39;
	  position: relative;
		top -50;
		z-index: 1;
		}

h2{font: 20pt 'Monotye Corsiva' sans-serif;
		text-align: left;
		color : #660066;
		}
		

img.flright{float: right}

div.banner{
	background: #9B8E7E;
	height:50px;
	padding-bottom:0cm;
	margin-bottom: 0cm;

}

div.navigation_bar{
	background: #A51A41;
	height: 30px;
	padding-top:0cm;
	margin-top: 0cm;
}

div.main_panel{
	
	opacity:0.8;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	position: centered;
	background-color: #660066;

}
</style>
